body{
	background-image: url(../img/style-bg2.jpg)!important;
}
footer{
	background-color: #202020;
}

.xuan{
	margin-top: 50px;
	color: white;
	font-size: 18px;
	
}

table{
	border-radius:10px ;
	margin: 20px 0 50px 0;
}
table img{
	width: 100px;
	height: 80px;
	/*background-color: #08A2DE;*/
}
#first_tr td{
	background-color: orange;
	/*font-family: "微软雅黑";*/
	font-weight: bold;
	font-size: 16px;
	color: #000000;
}
table tr{
	border-radius:10px ;
	border-bottom: 1px solid black;
	color: white;
}
table tr td{
	background-color:rgba(100,90,100,0.8);
	padding: 10px;
}

table tr td span{
	font-weight: bold;
	font-size: 22px;
	color: #F69122
}
table tr td input{
	width: 20px;
	background-color: transparent;
	border: none;
	color: white;
}
table button{
	background-color: red;
	width: 50px;
}
.gojx{
	font-size: 18px;
	color: white;
	/*font-family: "微软雅黑";*/
	text-shadow: 2px 2px 5px #000000;
}
.gojx span{
	color: #EA121C;
	font-size: 21px;
}
.gojx #zongjia{
	color: #EA121C;
	font-size: 28px;
	background-color: transparent;
	border: none;
	width: 80px;
}
.gojx .btn{
	margin: 0 20px;
	width: 150px;
	font-size: 20px;
}
/*猜你喜欢部分*/

#body .middle {
	width: 100%;
	height: 180px;
	margin: 30px auto 150px auto;
	overflow: hidden;
	position: relative;
	background: rgba(255,255,255,0.5);
	border-radius: 10px;
}
#body .middle .bt .l {
	position: absolute;
	left: 22px;
	top: 70px;
	background: #000;
	z-index: 20;
	width: 30px;
	height: 30px;
	font-size: 20px;
	opacity: 0.7;
	border-radius: 15px;
	cursor: pointer;
	color: #fff;
	text-align: center;
	line-height: 30px;
}
#body .middle .bt .r {
	position: absolute;
	right: -0px;
	top: 70px;
	background: #000;
	z-index: 20;
	width: 30px;
	height: 30px;
	font-size: 20px;
	opacity: 0.7;
	border-radius: 15px;
	cursor: pointer;
	color: #fff;
	text-align: center;
	line-height: 30px;
}
#body .middle .gd ul {
	position: absolute;
	width: 70%;
	margin-top: 5px;
}
#body .middle .gd li {
	list-style-type: none;
	float: left;
	width: 150px;
	height: 180px;
	margin-left: 11px;
}
#body .middle .gd li img {
	width: 100%;
	height: 100%
}
/*弹出框*/
/*.md-show{
	display: block;
}
.md-overlay{
	width: auto;
	height: auto;
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    overflow: hidden;
    outline: 0;
    background: rgba(0,0,0,0.6);
}
.close{
	position: relative;
	top: -10px;
}
.tan1{
	background-color: #DE4D4B;
	font-size: 20px;
	font-family: "微软雅黑";
	color: #fff;
}
.tan2{
	background-color: #F09D0D;
	font-size: 20px;
	font-family: "微软雅黑";
	color: #fff;
}
a:hover{
	color: #333;
}
.modal-content{
	padding-top: 15px;
}
.modal-dialog{
	padding-top: 200px;
}
.md-show{
	display: block;
}
.md-overlay{
	width: auto;
	height: auto;
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    overflow: hidden;
    outline: 0;
    background: rgba(0,0,0,0.6);
}*/


.md-show{
	display: block;
}
.md-overlay{
	width: auto;
	height: auto;
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    overflow: hidden;
    outline: 0;
    background: rgba(0,0,0,0.6);
}
.modal-content{
	width: 500px;
}
.modal-header{
	height: 60px;
	background: #4AAEEA;
	margin-top: -20px;
	border-radius: 6px 6px 0 0;
}
.modal-header div{
	line-height: 30px;
	font-size: 20px;
	color: #FEFEFC;
	margin-left: 20px;
}
.close{
	position: relative;
	top: -25px;
}
.modal-content{
	padding-top: 15px;
}
.modal-dialog{
	padding-top: 200px;
}
.order-time,.order-text{
	width: 400px;
	border:1px dashed #CACACB;
	border-radius: 6px;
	margin:10px auto;
}
.order-time{
	height: 80px;
}
.order-box{
	width: 50%;
	height: 78px;
	float: left;
	font-family: "微软雅黑";
}
.order-box:nth-child(1){
	border-right:1px dashed #CACACB;
}
.order-box h1{
	font-size: 18px;
	text-align: center;
	color: #98BDD1;
}
.order-box select{
	font-size: 14px;
	border:none;
	color: #484A4C;
	outline:medium;
}
.order-text{
	height: 140px;
	margin-bottom: 30px;
}
.order-text div:nth-child(1){
	height: 45px;
	line-height: 45px;
	border-bottom:1px dashed #CACACB;
}
.order-text div:nth-child(2){
	height：95px;
	line-height: 95px;
}
.order-text input{
	width: 90%;
	border:none;
	font-size: 18px;
	outline:medium;
}
.order-peaple{
	height: 40px;
	line-height: 40px;
}
.order-content{
	height：90px;
	line-height: 90px;
}
.order-ok{
	width: 100px;
	background-color: #DE4D4B;
	font-size: 20px;
	font-family: "微软雅黑";
	color: #fff;
	position: absolute;
	bottom: -10px;
	right: -30px;
}


