<!DOCTYPE html>
<html ng-app="UserModule">
	<head>
		<meta charset="UTF-8">
		<title>双向数据绑定</title>
		<link rel="stylesheet" href="css/bootstrap-3.0.0/css/bootstrap.css">
	    <script src="js/angular-1.3.0.js"></script>
	    <script src="b-Form.js"></script>
	    <style>
	    	.text-red {
			    background-color: #ff0000;
			}
			.text-green {
			    background-color: #00ff00;
			}
			.error {
			    background-color: red;
			}
			.warning {
			    background-color: yellow;
			}
	    </style>
	</head>
	<body>
		<div class="panel panel-primary">
			<div class="panel-heading" ng-controller="titleCtrl">
				<div class="panel-title" ng-bind="greeting.title">
					
				</div>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-12">
						<form class="form-horizontal" role="form" ng-controller="UserCtrl">
							<div class="form-group">
								<label class="col-md-2 control-label text-{{color}}"  ng-click="getGreen()">
									邮箱：
								</label>
								<div class="col-md-10">
									<input type="email" class="form-control" placeholder="推荐163邮箱" ng-model="userInfo.email" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-2 control-label">
									密码：
								</label>
								<div class="col-md-10">
									<input type="password" class="form-control" placeholder="只能英文数字下划线" ng-model="userInfo.password"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-offset-2 col-md-10">
									<div class="checkbox">
										<label>
											<input type="checkbox" ng-model="userInfo.autoLogin"/>自动登录
										</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-offset-2 col-md-10">
									<button class="btn btn-default" ng-click="getFormData()">提交</button>
									<button class="btn btn-default" ng-click="setFormDate()">记住账号密码</button>
									<button class="btn btn-default" ng-click="resetForm()">重置表单</button>
								</div>
							</div>
						</form>
						
						
						<div ng-controller="showCtrl">
							<button ng-click="toggleMenu()">Toggle Menu</button>
							<br />
							<div class="col-md-8" ng-controller="errorCtrl" ng-show='menuState.show'>
								<div ng-class='{error:isError,warning:isWarning}'>{{messageText}}</div>
								<button ng-click="Error()">报错！</button>
								<button ng-click="Warning()">警告！</button>
							</div>
						</div>
						
					</div>
				</div>
			</div>
			
			
			
			
		</div>
	</body>
</html>
