<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>会议室预定系统</title>
		<link rel="stylesheet" href="../../style/vendor/bootstrap.css"/>
		<link rel="stylesheet" href="../../style/index.css" />	
		<script src="../../script/vendor/jquery-3.2.0.min.js"></script>
		
		<!--日期选择插件-->
		<link type="text/css" href="../../style/vendor/jquery-ui-1.11.4.css" rel="stylesheet" />
	    <!--<link type="text/css" href="css/jquery-ui-timepicker-addon.css" rel="stylesheet" />-->
	    <script type="text/javascript" src="../../script/vendor/jquery-1.11.1.js"></script>
		<script type="text/javascript" src="../../script/vendor/jquery-ui-1.11.4.js"></script>
		<script type="text/javascript" src="../../script/vendor/jquery-ui-timepicker-addon.js"></script>
  		<!--datepicker日期插件中英转换-->
  		<script src="../../script/vendor/jquery.ui.datepicker-zh-CN.js"  type="text/javascript"></script>
  		<script>
			$( function() {
			  	$( "#datepicker" ).datepicker();
			} );
		</script>
	</head>
	<body>
		<div id="meetApp">
			<nav class="navbar navbar-default">
				<div class="nav-header">
			      		<img src="../../image/logo.png" />
			    </div>
				<ul class="nav-body">
				    <li><a href="#">退出</a></li>
				    <li><a href="#">Hello,赵婧</a></li>
				</ul>
			</nav>
		
			<div class="main">
				<div class="box meet-left">
					<div class="zone date">
						 <div id="datepicker"></div>
					</div>
					<div class="zone instruct">
						<table>
							<tr>
								<td>18F:</td>
								<td><div style="background: #845871;">大</div></td>
								<td><div style="background: #92A08F;">小</div></td>
							</tr>
							<tr>
								<td>33F:</td>
								<td><div style="background: #FC9A3F;">大</div></td>
								<td><div style="background: #E34856;">小</div></td>
							</tr>
							<tr>
								<td>31F:</td>
								<td><div style="background: #065381;"></div></td>
							</tr>
						</table>
						<div class="instBtn">
							<div class="instBtn-box">
								<input type="button" class="btn" value="回到今日">
							</div>
							<div class="instBtn-box">
								<input type="button" class="btn" @click="addConfirm" value="添加预约">
							</div>
						</div>
					</div>
				</div>
				<div class="box meet-right">
					<div class="zone order">
						<div class="order-date">
							2017-03-21
						</div>
						<div id="orderTable"  v-for="item in productList">
							<ul class="order-thead">
								<li>{{item.content}}</li>
								<li>8:30</li>
								<li>9:00</li>
								<li>9:30</li>
								<li>10:00</li>
								<li>10:30</li>
								<li>11:00</li>
								<li>11:30</li>
								
								<li>13:00</li>
								<li>13:30</li>
								<li>14:00</li>
								<li>14:30</li>
								<li>15:00</li>
								<li>15:30</li>
								<li>16:00</li>
								<li>16:30</li>
								<li>17:00</li>
							</ul>
							<ul class="Room1 room">
								<li>第一会议室</li>
								
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
							</ul>
							<ul class="Room2 room">
								<li>第二会议室</li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								
							</ul>
							<ul class="Room3 room">
								<li>第三会议室</li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								
							</ul>
							<ul class="Room4 room">
								<li>第四会议室</li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								
							</ul>
							<ul class="Room5 room">
								<li>第五会议室</li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								
							</ul>	
							<div class="move order1">
								<span>10:30</span>
								<span>~</span>
								<span>10:50</span>
								<span>前端小组</span>
							</div>
							<div class="move order2">
								<span>8:30</span>
								<span>~</span>
								<span>9:10</span>
								<span>赵小婧</span>
							</div>
							<div class="move order3">
								<span>14:00</span>
								<span>~</span>
								<span>17:00</span>
								<span>研发二组技术调研</span>
							</div>
							<div class="move order4">
								<span>10:00</span>
								<span>~</span>
								<span>11:30</span>
								<span>设计部1</span>
							</div>
							<div class="move order5">
								<span>9:30</span>
								<span>~</span>
								<span>10:00</span>
								<span>潘浩</span>
							</div>
							<div class="move order6">
								<span>10:00</span>
								<span>~</span>
								<span>10:30</span>
								<span>测试组小队测试组</span>
							</div>
						</div>
						
					</div>
				</div>
				
				<!--添加预约遮罩层-->
				<div class="modal" v-bind:class="{'md-show':addFlag}">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<div>添加预约</div>
								<button class="close" data-dismiss="modal" @click="addFlag=false">&times;</button>
							</div>
							<div class="modal-body">
								<form class="form-horizontal">
									<div class="form-group has-feedback text-center">
										<div class="order-time">
											<div class="order-box">
												<h1>开始时间</h1>
												<select>
													<option value="1">今天 13:00</option>
													<option value="2">今天 14:00</option>
													<option value="3">今天 15:00</option>
												</select>
											</div>
											<div class="order-box">
												<h1>结束时间</h1>
												<select>
													<option value="1">今天 13:40</option>
													<option value="2">今天 14:40</option>
													<option value="3">今天 15:40</option>
												</select>
											</div>
										</div>
										<div class="order-text">
											<div>
												<input type="text" class="order-peaple" placeholder="预约人">
											</div>
											<div>
												<input type="text" class="order-content"  placeholder="会议内容">
											</div>
										</div>
									</div>
									<div class="form-group text-center">
										<div class="col-md-8 col-md-offset-2">
				               				<button class="order-ok btn col-md-4 col-md-offset-2">
												确定
				               				</button>
										</div>
									</div>
								</form>
							</div>
							
						</div>
					</div>
				</div>
				<div class="md-overlay" v-if="delFlag"></div>
				
			</div>
		</div>
	</body>
	
	<script src="../../script/vendor/vue.js"></script>
		<script src="../../script/vendor/vue-resource.min.js"></script>
		<script src="../../script/index.js"></script>
</html>

