*{
	padding: 0;
	margin: 0;
	text-decoration: none;
}
.login form {
    margin-top: 40px!important;
    
}
/*.el-form-item__error{
	position: absolute!important;
	top: 8px!important;
	left: -68px!important;
	font-size: 20px!important;
}	*/
.el-form-item.is-required .el-form-item__label:before {
    content: ''!important;
    
}
.el-form-item.is-error .el-input__inner, .el-form-item.is-error .el-textarea__inner {
    border-color: #ADB9C4!important;
}
.el-date-editor.el-input {
	margin-left: 10px!important;
    width: 300px!important;
}
.el-input__inner{
	border: none;
	height: 40px;
}
.roomChoose .el-input__inner{
	border:1px dashed #CACACB!important;
}
.el-date-editor.el-input .el-input__inner{
	margin-left: 6px!important;
	font-size: 16px!important;
	border: none!important;
}

body{
	background: url(../image/bg3.jpg);
	background-size:cover;
}
.login-erro{
	color: #F7626F;
	display: none;
}
.login-show{
	display: block;
}
.intr{
	color:#7E8181;
	font-size: 16px;
	text-align: left;
	font-family: "微软雅黑";
	margin: 20px;
}
.login{
	width: 400px;
	height: 350px;
	border: 1px solid #DBDBD8;
	border-radius: 10px;
	background: rgba(255,255,255,0.5);
	box-shadow: 2px 4px 8px 1px rgba(0,0,0,0.1);
	font-family: "Microsoft YaHei";
	position: absolute;
	text-align: center;
	left:50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -175px;
}
.login h1{
	text-align: center;
	margin: 30px auto 20px;
	
	color: #3E3E3B;
	font-family: "微软雅黑";
	font-size: 22px;
	
}
.login form{
	display: block;
	margin-top: 50px;
	margin-left: -25px;
}
.login-box{
	width: 400px;
	height: 60px;
	margin-left:-6px;
}
.login-box input{
	margin-left: 10px;
}
.login-row{
	width: 380px;
	height: 60px;
	line-height: 60px;
	margin: 10px auto;
}
.login-row label{
	font-size: 14px;
	color: #434340;
	margin: 10px ;
}
.login-row input{
	font-size: 14px;
	width: 280px;
	height:40px;
	line-height: 40px;
	padding: 0 15px;
	box-sizing: border-box;
}
.login button{
	height: 35px;
	width: 200px;
	margin: 0px 60px 20px 100px;
}
.login button a{
	text-decoration: none;
	color: white;
}
#authImage{
	width: 70px;
	margin-right: 15px;
}
