*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-image: url(../img/query_bg.jpg);
	line-height: 1.42857143;
	color: #333;
	font-family: "微软雅黑";
}
.main{
	position: absolute;
	top: calc(50% - 200px);
	left: calc(50% - 370px);
	width: 740px;
	height: 400px;
	background-color: rgba(255,255,255,.8);
	border: 1px solid #5294dc;
	border-radius: 6px;
	padding: 10px 35px;
	font-size: 16px;
}
.travel{
	margin-top: 25px;
}
.travel_title{
	color: #4f92e0;
	border-bottom: 1px solid #4F92E0;
	padding-bottom: 10px;
	font-size: 24px;
	font-weight: inherit;
}
.row{
	/*margin-right: -15px;*/
	margin: 10px -15px;
	display: inline-block;
}
.radio-inline{
	display: inline-block;
	padding-left: 20px;
	margin-right: 12px;
	margin-bottom: 0;
	font-weight: 400;
	font-size: inherit;
	vertical-align: middle;
	cursor: pointer;
	line-height: 26px;
}
.radio-inline input{
	margin-right: 8px;
	margin-bottom: 4px;
	line-height: 16px;
	font-family: inherit;
}
.form-group{
	vertical-align: middle;
	margin-bottom: 14px;
	position: relative;
	
}
.form-group label{
	display: inline-block;
	font-weight: inherit;
}
.form-group input{
	display: inline-block;
	width: 211px;
}
.form-group .day{
	position: absolute;
	top:7px;
	right: 10px;
	font-size: 14px;
	color: #b2b2b2;
}
#cabinType{
	display: inline-block;
	width: 211px;
}
.setday{
	position: relative;
	left: 22px;
}

.btn{width: 200px;}
.changeCityBtn{
	position: absolute;
	right: -24px;
	top: 15px;
	width: 20px;
	height: 55px;
	font-size: 0;
	background-image: url(../img/changeCity_1.png);
}
